
/* Your CSS Code here. */
.moviePic{
	align-content: center;
	height: 200px;
	width: 200px;
	opacity: 1;
}

.movieDetail {
	position: absolute;
	top: 50%;
	width: 80%;
	text-align: center;
	font-size: 16px;
	left: 50%;
	transform: translate(-50%, -50%);
}